<div class="container-fluid" style="background:#383838;">
  <div class="row">
    <!-- <div class="col"></div> -->

    <div class="col-8">
      <div class="marge"></div>

      <div *ngIf="isEmpty == true">Aucun Produit</div>


      <div class="item" *ngFor="let item of produits">
        <div class="third-div">
          <img [src]="imageToShow[item.id]" width="250px"/>
        </div>
        <div class="third-div">
          <span class="title">{{item.libelle}}</span>
          <p>{{item.desc}}</p>
          <p class="prix">{{item.prix}}€</p>
          <span>Quantité disponible : <b>{{item.quantite}}</b></span>
        </div>
        <div class="third-div">
          <div class="floatR">

            <button class="btn" (click)="addPanier(item)">
            </button>
            <div class="full-div">
              DLC : {{item.dlc | date}}
            </div>
          </div>
        </div>




      </div>


    </div>
    <div class="marge"></div>
    <div class="col-4">

      <div class="panier">

        <span class="title ">Mon Panier</span>


        <div class="item-panier" *ngFor="let p of parsedPanier">

          {{p.libelle}}


          <select selected="p.nb" (change)="updateQuantite(p.id, $event.target.value)">
            <option *ngFor="let i of counter(p.quantite)" [selected]="i == p.nb" value="{{i}}">{{i}}</option>
          </select>
          <button class="btn-delete floatR" (click)="deletePanier(p.id)">

          </button>
          <div class="floatR prix-panier">
            {{p.prix * p.nb}}€
          </div>
        </div>

        <hr>
        TOTAL : <div class="floatR">{{totalPanier}} €</div>
        <div class="div-button-panier"><input type="button" [routerLink]="['/login']" class="btn button-panier"
            value="Valider mon panier"></div>


      </div>
    </div>


  </div>
</div>